@import url('https://fonts.googleapis.com/css2?family=Gantari&family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer img {
  width: 3rem;
}


.Card,
Button {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
}

.Card:hover,
Button:hover {
  box-shadow: 0px 15px 20px rgba(87, 87, 87, 0.2);
  transform: translateY(-5px);
}

.logo,
.nav-bar {
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
}

.logo:hover,
.nav-bar:hover {
  transform: translateY(-5px);
}

.nav-bar {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 1rem;
}